<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="open_manipulator_p">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import open_manipulator_p urdf file -->
    <xacro:include filename="$(find open_manipulator_p_description)/urdf/open_manipulator_p.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="open_manipulator_p.ros2_control.xacro" />


    <xacro:open_manipulator_p_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
